<form method="post" action="{{ path('material_delete', {'id': material.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material.id) }}">
    <button class="btn">Delete</button>
</form>
