{% extends 'base.html.twig' %}

{% block title %}Modifier Matériau{% endblock %}

{% block body %}
    <h1>Edit Material</h1>

    {{ include('material/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
